[Desktop Entry]
Name=Lib-Secret Manager
Name[ru]=Менеджер секретов
Comment=Password manager via libsecret
Comment[ru]=Менеджер паролей через libsecret
Exec=/usr/bin/lib-secret-manager
Icon=lib-secret-manager
Terminal=false
Type=Application
Categories=Utility;Security;Qt;
StartupNotify=true